
<!-- header  -->
<%- include('_header'); %>

<div>
   <!----------- if user is not logged in ----------->
   <% if(!locals.user) { %>
       <p>Sign-in to add Movies </p>
   <% }else{ %>
    <form action="/movies/addMovie" method="post">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description</label>
            <textarea id="description" name="desc" rows="4"></textarea>

            <label for="releaseYear">Release Year</label>
            <input type="number" id="releaseYear" name="releaseYear" required>

            <label for="genre">Genre</label>
            <select id="genre" name="genre">
                <option value="">Select Genre</option>
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="horror">Horror</option>
                <option value="romance">Romance</option>
            </select>

            <button type="submit">Add to WishList</button>
    </form>

    <%- include('_movies'); %>
   <% } %>

   


</div>